@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --tamFonte: 1.2em;
    --corFonte: rgb(122, 122, 122);
    --fonte: 'Arimo', sans-serif;
    --color-primary: #191919;
    --cor_sec: #f2f2f2;
    --color-asset: #66bbff;
    --cor_ass2: #0071e3;
    --bg-primary: #fff;
    --bgBotao: rgb(0, 0, 102);
    --bgBotaoHover: rgb(0, 59, 185);
}

body {
    width: 100%;
    min-width: 320px; /* Define uma largura mínima para evitar que o conteúdo fique muito estreito */
    margin: 0; /* Remova as margens padrão do body */
    padding: 0; /* Remova o preenchimento padrão do body */
    box-sizing: border-box; /* Certifique-se de que o preenchimento e a borda não afetem a largura total */
}

header{
    width: 100%;
    padding: 2%;
    border-bottom: 0.3px solid rgb(192, 192, 192);
}

#logo{
    width: 2%;
}

.menuNav{
    display: flex;
    justify-content:space-evenly;
}

.menuNav ul{
    display: flex;
    align-items: center;
}

a:visited {
    color: inherit;
}

.menuNav ul li{
    margin: 0px 40px;
    font-family: 'Rubik', sans-serif;
    color: var(--corFonte);
    font-size: var(--tamFonte);
}

.menuNav ul li:hover{
    color: black;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

main{
    background-color: rgb(243, 243, 243);
    border-bottom: 0.3px solid rgb(192, 192, 192);
}

section h1 {
    text-align: center;
    font-size: 50px;
    font-family: var(--fonte);
}

.itemHome{
    padding: 8% 0%;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    gap: 3rem;
    font-family: var(--fonte);
}

.content {
    text-align: center;
    margin-bottom: 2rem; 
    padding: 2rem; 
    background-color: var(--color-secundary); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 2rem;
}

.content img {
    max-width: 100%;
    width: 9rem;
    margin-bottom: 1vh;
}


.content h3 {
    font-size: 1.5rem;
}

.content span {
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.content p {
    margin-bottom: 0.5rem;
}

.button{
    margin-top: 35px;
    transition: all 0.8s;
}

.button a{
    font-family: var(--fonte);
    color: rgb(255, 255, 255);
    background-color:var(--bgBotao);
    padding: 8px;
    border-radius: 15px;
}

.button a:hover{
    background-color: var(--bgBotaoHover);
    transition: background-color 0.9s ease; 
    font-size: 18px;
    transition: 0.5s ease;
}

.footer {
    text-align: center;
    margin: auto;
    padding: 2% 0%;
    width: 100%;
}


@media screen and (max-width: 768px) {
    /* Estilos para garantir que o body ocupe 100% do width */
    body {
        width: 100%;
        min-width: 320px; /* Define uma largura mínima para evitar que o conteúdo fique muito estreito */
        margin: 0; /* Remova as margens padrão do body */
        padding: 0; /* Remova o preenchimento padrão do body */
        box-sizing: border-box; /* Certifique-se de que o preenchimento e a borda não afetem a largura total */
    }

    /* Redimensione os itens da classe .content para ajustar a tela */
    .content {
        width: 90%; /* Ajuste a largura dos itens */
        margin: 0 auto; /* Centralize os itens na tela */
        padding: 1rem; /* Adicione algum espaço ao redor dos itens */
        box-sizing: border-box; /* Certifique-se de que o preenchimento e a borda não afetem a largura total */
    }

    /* Adicione flex-wrap para a classe .container para que os itens se movam para baixo quando necessário */
    .container {
        display: flex;
        flex-wrap: wrap; /* Isso permite que os itens sejam distribuídos em várias linhas quando a largura da tela for reduzida */
        align-items: center; /* Centralize os itens verticalmente */
        justify-content: center; /* Centralize os itens horizontalmente */
        gap: 1rem; /* Adicione algum espaço entre os itens */
    }

    section h1 {
        font-size: 30px; /* Ou outro tamanho adequado */
    }

    /* Ajuste o tamanho do logo e do menu para telas menores */
    #logo {
        width: 30px; /* Ou outro tamanho adequado */
    }

    .menuNav ul li {
        margin: 0 10px;
        font-size: 14px; /* Ou outro tamanho adequado */
    }

    /* Redimensione as imagens dentro da classe .content */
    .content img {
        width: 70%; /* Ou outro tamanho adequado */
        max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do container */
    }

    .content h3 {
        font-size: 1.2rem; /* Ou outro tamanho adequado */
    }

    .content span {
        font-size: 1rem; /* Ou outro tamanho adequado */
    }

    .content p {
        font-size: 0.9rem; /* Ou outro tamanho adequado */
    }
}